extends ./layouts/base

block title
  title Auth :: Clever V1
  
block content
  section#root


// Put here constants, etc etc.. 
block prejs 
  script.
    // window.BASE_URL = 'http://somethingcool.com'
