doctype html
html
  head
    title Clever V1
    |   
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  body
  
    // content section
    section#content
    
    // Initialize SPA
    script(type='text/javascript', src='public/users-admin/index.js')
